

@media (min-width:1025px) {
    .col{
        padding-left: 12px;
        padding-right: 12px;
    }

    .l-none{
        display: none;
    }

    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12{
        display: block;
    }

    .l-1{
        width: 8.33333%;
        max-width: 8.33333%;
    }

    .l-2{
        max-width: 16.66667%;
        width: 16.66667%;
    }

    .l-3{
        width: 25%;
        max-width: 25%;
    }

    .l-4{
        width: 33.33333%;
        max-width: 33.33333%;
    }

    .l-5{
        width: 41.66667%;
        max-width: 41.66667%;
    }

    .l-6{
        width: 50%;
        max-width: 50%;
    }

    .l-7{
        width: 58.33333%;
        max-width: 58.33333%;
    }

    .l-8{
        width: 66.66667%;
        max-width: 66.66667%;
    }

    .l-9{
        width: 75%;
        max-width: 75%;
    }

    .l-10{
        width: 83.33333%;
        max-width: 83.33333%;
    }

    .l-11{
        width: 91.66667%;
        max-width: 91.66667%;
    }

    .l-12{
        width: 100%;
        max-width: 100%;
    }
    
}

@media (max-width:1024px) {
    .col{
        padding-left: 12px;
        padding-right: 12px;
    }

    .m-none{
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12{
        display: block;
    }

    .m-1{
        width: 8.33333%;
        max-width: 8.33333%;
    }

    .m-2{
        max-width: 16.66667%;
        width: 16.66667%;
    }

    .m-3{
        width: 25%;
        max-width: 25%;
    }

    .m-4{
        width: 33.33333%;
        max-width: 33.33333%;
    }

    .m-5{
        width: 41.66667%;
        max-width: 41.66667%;
    }

    .m-6{
        width: 50%;
        max-width: 50%;
    }

    .m-7{
        width: 58.33333%;
        max-width: 58.33333%;
    }

    .m-8{
        width: 66.66667%;
        max-width: 66.66667%;
    }

    .m-9{
        width: 75%;
        max-width: 75%;
    }

    .m-10{
        width: 83.33333%;
        max-width: 83.33333%;
    }

    .m-11{
        width: 91.66667%;
        max-width: 91.66667%;
    }

    .m-12{
        width: 100%;
        max-width: 100%;
    }
    
}

@media (max-width:600px) {
    .col{
        padding-left: 8px;
        padding-right: 8px;
    }

    .s-none{
        display: none;
    }

    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11,
    .s-12{
        display: block;
    }

    .s-1{
        width: 8.33333%;
        max-width: 8.33333%;
    }

    .s-2{
        max-width: 16.66667%;
        width: 16.66667%;
    }

    .s-3{
        width: 25%;
        max-width: 25%;
    }

    .s-4{
        width: 33.33333%;
        max-width: 33.33333%;
    }

    .s-5{
        width: 41.66667%;
        max-width: 41.66667%;
    }

    .s-6{
        width: 50%;
        max-width: 50%;
    }

    .s-7{
        width: 58.33333%;
        max-width: 58.33333%;
    }

    .s-8{
        width: 66.66667%;
        max-width: 66.66667%;
    }

    .s-9{
        width: 75%;
        max-width: 75%;
    }

    .s-10{
        width: 83.33333%;
        max-width: 83.33333%;
    }

    .s-11{
        width: 91.66667%;
        max-width: 91.66667%;
    }

    .s-12{
        width: 100%;
        max-width: 100%;
    }
}